<div class="container">
  <div class="row">
    <h1>マイページ</h1>

  <div class="d-flex justify-content-between mb-2" style="width: 185px; height: 24px;">
    <p>登録情報</p>
    <%= link_to "編集する", customers_information_edit_path, :class => "btn btn-sm btn-success d-flex align-items-center ms-3" %>
  </div>

    <table class="table border border-secondary table-hover">
      <tbody>
        <tr>
          <th class="table-secondary border border-secondary border-black border-bottom-1">氏名</th>
          <td><%= @customer.full_name %></td>
        </tr>
        <tr>
          <th class="table-secondary border border-secondary">カナ</th>
          <td><%= @customer.furigana_full_name %></td>
        </tr>
        <tr>
          <th class="table-secondary border border-secondary ">郵便番号</th>
          <td><%= @customer.post_code %></td>
        </tr>
        <tr>
          <th class="table-secondary border border-secondary">住所</th>
          <td><%= @customer.address %></td>
        </tr>
        <tr>
          <th class="table-secondary border border-secondary">電話番号</th>
          <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
          <th class="table-secondary border border-secondary">メールアドレス</th>
          <td><%= @customer.email %></td>
        </tr>
      </tbody>
    </table>
<div class="col" >
  <div class="d-flex mb-2 justify-content-between" style="width: 185px; height: 24px;">
    <p class="mb-0">配送先</p>
    <%= link_to "一覧を見る", shipping_addresses_path, :class => "btn btn-sm btn-primary d-flex align-items-center ms-3" %>
  </div>
    <div class="d-flex mb-2 justify-content-between" style="width: 185px; height: 24px;">
    <p class="mb-0">注文履歴</p>
    <%= link_to "一覧を見る", orders_path, :class => "btn btn-sm btn-primary d-flex align-items-center ms-3" %>
  </div>
  </div>
</div>
