
<div class="container">
  <div class="col-md-10 mx-auto mt-5">

    <div>
    <h2 class="headline">商品新規登録</h2>
    <%= render"layouts/error_messages", model: @item %>
    </div>

    <div class="form d-flex justify-content-center" >
    <%= form_with model: @item, url:admin_items_path, method: :post do |f|  %>

<table class="table mt-5">
 <tbody>
  <tr>
   <td>商品画像</td>
   <td><%= f.file_field :image,accept: "image/*" %></td>
  </tr>
  <tr>
   <td>商品名</td>
   <td><%= f.text_field :name, autofocus: true, placeholder:"商品名",class:"form-control" %></td>
  </tr>
  <tr>
   <td>商品説明</td>
   <td> <%= f.text_area :description, placeholder:"ここに説明文を記述します",rows:"5",class:"form-control"%></td>
  </tr>
  <tr>
   <td>ジャンル</td>
   <td><%= f.collection_select :genre_id,Genre.all, :id, :name,include_blank: "--選択してください--"%></td>
  </tr>
  <tr>
   <td>税抜き価格</td>
   <td><%= f.text_field :price_without_tax, pattern:"^[1-9][0-9]*$", placeholder:"1000(半角数字を入力)",class:"form-control" %></td>
  </tr>
  <tr>
   <td>販売ステータス</td>
   <td>
     <%= f.radio_button :is_on_sale, :true,class:"form-check-input" %>
     <%= f.label :is_on_sale, "販売中",class:"form-check-label" %>
     <%= f.radio_button :is_on_sale, :false,class:"form-check-input" %>
     <%= f.label :is_on_sale, "販売停止中",class:"form-check-label" %>
   </td>
  </tr>
 </tbody>
</table>

    <div class="raw text-center mt-3">
     <%= f.submit "新規登録", class:"btn w-25", style: "background-color: #1A120B; color: #E5E5CB;"%>
    </div>

   </div>

    <% end %>


  </div>
</div>