<div class= 'container'>
  <div class='row'>
  <div class="col-8 mt-3 mx-auto p-3" style="background-color: #ffffe0; color: #696969;">

<h2 class="text-center">管理者ログイン</h2>

<!--session_pathの後の(resource_name)を消したらActionController::UnknownFormat inエラー解消-->
<%= form_for(resource, as: resource_name, url: admin_session_path) do |f| %>
  <div class="form-group row mt-3">
   <%= f.label "メールアドレス",class:"col-3 col-form-label" %>
   <div class="col-8">
   <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
   </div>
  </div>

  <div class="form-group row mt-3">
    <%= f.label "パスワード" ,class:"col-3 col-form-label"%>
    <div class="col-8">
    <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
    </div>
  </div>
  <div class="text-right mt-3">
    <%= f.submit "ログイン" ,class: "btn btn-sm my-3 w-25", style: "background-color: #1A120B; color: #E5E5CB;"%>
  </div>
<% end %>

<%= render "admin/shared/links" %>
  </div>
 </div>
</div>