<div class= 'container'>
  <div class='row'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
<h2>管理者ログイン</h2>

<!--session_pathの後の(resource_name)を消したらActionController::UnknownFormat inエラー解消-->
<%= form_for(resource, as: resource_name, url: admin_session_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" ,class: 'btn btn-sm btn-primary'%>
  </div>
<% end %>

<%= render "admin/shared/links" %>
  </div>
 </div>
</div>