<div class= 'container mt-5'>
  <div class='row'>
  <div class="col-md-6 mx-auto p-3 rounded" style="background-color: #D5CEA3;">

<h2 class="text-center">管理者ログイン</h2>

<!--session_pathの後の(resource_name)を消したらActionController::UnknownFormat inエラー解消-->
<%= form_for(resource, as: resource_name, url: admin_session_path) do |f| %>
  <div class="form-group row mt-4 justify-content-center">
   <%= f.label "メールアドレス",class:"col-3 col-form-label" %>
   <div class="col-8">
   <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
   </div>
  </div>

  <div class="form-group row mt-4 justify-content-center">
    <%= f.label "パスワード" ,class:"col-3 col-form-label"%>
    <div class="col-8">
    <%= f.password_field :password, autocomplete: "current-password",class:"form-control" %>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <%= f.submit "ログイン" ,class: "btn btn-sm mt-3 w-25", style: "background-color: #1A120B; color: #E5E5CB;"%>
  </div>
<% end %>

<%= render "admin/shared/links" %>
  </div>
 </div>
</div>