<div class="container mt-5 mb-5">
  <div class='row'>
    <div class="col-md-10 mx-auto p-3 rounded" style="background-color: #D5CEA3;">

    <div class="row">
      <% if @result == [] %>
        <h3 class="text-center">検索結果がありません。</h3>
      <% elsif @items.present? %>
      <% search_word = @q.name_cont %>
    <h2>検索結果 "<%= search_word %>"</h2>
      <% @items.each do |f| %>
       <div class="d-flex col-md-3">
        <div>
          <p>
            <%= link_to item_path(f) do %>
             <div class="image-box">
              <%= image_tag f.get_image(200,200), class: "image" %>
             </div>
            <% end %>
          </p>
          <p><strong><%= f.name %></strong>（<%= f.sale_status %>）</p>
          <p><strong>￥<%= f.price_without_tax.to_s(:delimited) %></strong></p>

        </div>
       </div>

      <% end %>
      <% else %>
        <h3 class="mt-3 text-center">検索結果がありません。</h3>
      <% end %>
    </div>
    </div>
  </div>
</div>
