<div class="container mt-5">
 <div class="col-md-10 mx-auto mt-5">

  <div class="row justify-content-center mb-3">
    <div class="col-md-4 headline">
    <h4><strong><%= @customer.full_name%></strong>さんの会員情報</h4>
   </div>
  </div>

    <div class="col-md-6 mx-auto">
    <table class="table table-borderless" style="background-color: rgba(213, 206, 163,0.4);">
      <thead>
        <tr>
          <th scope="col" style="width: 50%"></th>
          <th scope="col" style="width: 50%"></th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>会員ID</td>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <td>氏名</td>
        <td><%= @customer.full_name %></td>
      </tr>
         <td>郵便番号</td>
         <td><%= @customer.post_code %></td>
      <tr>
         <td>住所</td>
         <td><%= @customer.address %></td>
      </tr>
      <tr>
         <td>電話番号</td>
         <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
         <td>メールアドレス</td>
         <td><%= @customer.email %></td>
      </tr>
      <tr>
        <td>会員ステータス</td>
         <td>
          <% if @customer.is_deleted == true %>
          <strong style="color:darkgray;"><%= "退会" %></strong>
          <% else %>
          <strong style="color:green;"><%= "有効" %></strong>
          <% end %>
        </td>
      </tr>
      <div class="mt-3">
        <td><%= link_to "編集する", edit_admin_customer_path(@customer.id), class: "btn change_button mt-3", style: "margin-right:3em; background-color: #D5CEA3;"%></td>
        <td> <%= link_to "注文履歴一覧を見る",order_admin_customer_path(@customer.id),class: "btn mt-3", style: "background-color: #1A120B; color: #E5E5CB;"%></td>
      </div>
     </tbody>
    </table>


  </div>
 </div>
</div>