<div class="container mt-5">
 <div class="col-md-10 mx-auto mt-5">

  <div class="row mb-5">
    <h4>注文履歴詳細</h4>
  </div>

    <div class="col-md-9 d-flex justify-content-center mr-5">
    <table class="table table-borderless">
      <thead>
        <tr>
          <th scope="col" style="width: 30%"></th>
          <th scope="col" style="width: 55%"></th>
          <th scope="col" style="width: 15%"></th>
        </tr>
      </thead>
      <tbody>
      <tr>
        <td>購入者</td>
        <td><%= @order.customer.full_name %></td>
      </tr>
      <tr>
        <td>注文ID</td>
        <td><%= @order.id %></td>
      </tr>
         <td>配送先</td>
         <td>
          〒<%= @order.shipping_post_code.to_s.insert(3, "-") %>
          <%= @order.shipping_address%></br>
          <%= @order.shipping_name%>
         </td>

      <tr>
         <td>支払い方法</td>
         <td><%= @order.payment_method_i18n %></td>
      </tr>

      <tr class="order_status">
        <td>注文ステータス</td>
         <%= form_with model: @order ,url:admin_order_path(@order.id),local:true,method: :patch do |f|%>
        <td><%= f.select :status, Order.statuses_i18n.invert,{}, class: "form-select mr-3"%></td>
        <td><%= f.submit "更新",class:"btn btn-success"%></td>
         <% end %>
      </tr>
      <tr>
         <td>メールアドレス</td>
         <td><%= @order.customer.email %></td>
      </tr>
      <tr>
        <td>会員ステータス</td>
         <td>
          <% if @order.customer.is_deleted == true %>
          <strong style="color:darkgray;"><%= "退会" %></strong>
          <% else %>
          <strong style="color:green;"><%= "有効" %></strong>
          <% end %>
        </td>
      </tr>
     </tbody>
    </table>

    </div>

 <div class="row">
   <div class="col-md-9 d-flex">
     <table class="table mt-3">
      <thead class="table-light">
        <tr align="center">
          <th scope="col" style="width: 30%">商品名</th>
          <th scope="col" style="width: 15%">単価(税込)</th>
          <th scope="col" style="width: 10%">数量</th>
          <th scope="col" style="width: 15%">小計</th>
          <th scope="col" style="width: 20%">製作ステータス</th>
          <th scope="col" style="width: 5%"></th>
        </tr>
      </thead>
      <tbody class ="production_status">
          <% @order_items.each do |order_item| %>
          <tr valign="middle">
          <td><%= order_item.item.name %></td>
          <td align="center"><%= order_item.item.with_tax_price.to_s(:delimited) %>円</td>
          <td align="center"><%= order_item.quantity %></td>
          <td align="center"><%= order_item.subtotal.to_s(:delimited) %>円</td>
            <%= form_with model: order_item ,url:admin_order_item_path(order_item), local:true, method: :patch do |f| %>
          <td><%= f.select :production_status, OrderItem.production_statuses_i18n.invert,{}, class: "form-select mr-3" %></td>
          <td><%= f.submit "更新",class:"btn btn-success" %></td>
         <% end %>
         </tr>
         <% end %>
     </tbody>
    </table>
    </div>

 <div class="col-md-3">
     <table class="table">
       <thead>
         <tr>
           <th scope="col" style="width: 60%"></th>
           <th scope="col" style="width: 40%"></th>
         </tr>
       </thead>
       <tbody class="table-light">
         <tr>
           <td><strong>商品合計</strong></td>
           <td align="right"><%= number_with_delimiter(@order.billing_amount - @order.postage) %>円</td>
         </tr>
          <tr>
           <td><strong>送料</strong></td>
           <td align="right"><%= @order.postage.to_s(:billing_amount)%>円</td>
         </tr>
         <tr>
           <td><strong>請求金額合計</strong></td>
           <td align="right"><%= @order.billing_amount.to_s(:delimited)%>円</td>
         </tr>
       </tbody>

     </table>

    </div>

  </div>
 </div>
</div>