<div class= 'container'>
 <div class="col-md-10 mx-auto mt-5">

 <div class="row">
  <h2>ジャンル一覧・追加</h2>
 </div>

  <%= form_with model:@genre, url:admin_genres_path, method: :post do |f| %>
 <div class="row d-flex mt-3">

  <div class="col-md-2 text-center">
   <%= f.label :name, "ジャンル名" %>
  </div>

  <div class="col-md-3">
   <%= f.text_field :name ,placeholder:"ジャンル名", class: "form-control"%>
  </div>

  <div class="col-md-1">
   <%= f.submit "新規登録", class:"btn", style: "background-color: #1A120B; color: #E5E5CB;" %>
  </div>
  <% end %>

  <div class="row mt-5">
   <div class="col-md-5">
    <table class="table">
      <thead class="table-light">
        <tr align="center">
        <th style="width: 15%">ジャンル</th>
        <th style="width: 15%"></th>
        </tr>
      </thead>
      <tbody>
        <% @genres.each do |genre|%>
        <tr>
        <td valign="middle"><%= genre.name%></td>
        <td align="center"><%= link_to "編集する", edit_admin_genre_path(genre.id), class:"btn btn-sm change_button", style: "background-color: #D5CEA3;" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  </div>



 </div>
</div>
