<div class= 'container'>
 <div class="col-md-10 mx-auto mt-5">

  <div class="row mb-3">
    <h4>注文履歴一覧</h4>
  </div>

    <table class ="table">
      <thead>
        <tr>
         <th scope="col" style="width: 35%">購入日時</th>
         <th scope="col" style="width: 20%">購入者</th>
         <th scope="col" style="width: 20%">注文個数</th>
         <th scope="col" style="width: 25%">注文ステータス</th>
        </tr>
      </thead>
      <tbody>
          <% @orders.each do |order|%>
        <tr>
         <td>
         <%=link_to admin_order_path(order.id) do%>
         <%= order.created_at %>
         <% end %>
         </td>
         <td><%= order.shipping_name %></td>
         <td><%= OrderItem.where(order_id: order.id).pluck(:quantity).sum %></td>
         <!--enum日本語化-->
         <td><%= order.status_i18n%></td>
       </tr>
      　 <% end %>
      </tbody>
    </table>

   <div class="d-flex justify-content-center mt-4">
    <%= paginate @orders %>
   </div>

　　</div>
  </div>
</div>
