<div class= 'container mt-5'>
 <div class="col-md-10 mx-auto mt-5">

  <div class="row justify-content-center mb-3">
    <div class="col-md-4 headline">
    <h4>注文履歴一覧</h4>
    </div>
  </div>
   <div class="col-md-10 mx-auto">
    <table class ="table table-bordered border-dark table-hover align-middle custom-table">
      <thead>
        <tr align ="center">
         <th scope="col" style="width: 30%">購入日時</th>
         <th scope="col" style="width: 30%">購入者</th>
         <th scope="col" style="width: 15%">注文個数</th>
         <th scope="col" style="width: 25%">注文ステータス</th>
        </tr>
      </thead>
      <tbody>
          <% @orders.each do |order|%>
        <tr>
         <td>
         <%=link_to admin_order_path(order.id),class:"admin_link" do%>
         <%= l order.created_at %>
         <% end %>
         </td>
         <td><%= order.customer.full_name %></td>
         <td align="center"><%= OrderItem.where(order_id: order.id).pluck(:quantity).sum %></td>
         <!--enum日本語化-->
         <td align="center"><%= order.status_i18n%></td>
       </tr>
      　 <% end %>
      </tbody>
    </table>
    </div>

   <div class="d-flex justify-content-center mt-4">
    <%= paginate @orders %>
   </div>

　　</div>
  </div>
</div>
