<div class="container mt-5 d-flex-column space-around">
  <div class="row">
   <div class="col-md-8">
    <div class="d-flex head-items mb-4">
      <h4 class="col-md-4 bg-light text-center">ショッピングカート</h4>
      <%= link_to 'カートを空にする',clear_cart_items_path, method: :delete, class: "btn btn-danger" %>
     </div>
    <table class="table table-hover table-inverse table-bordered">
      <thead class="table-light">
        <tr>
          <th>商品名</th>
          <th>単価（税込）</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr>
            <td><%= image_tag cart_item.item.get_image(100, 100), class: "p-2" %> <%= cart_item.item.name %></td>
            <td><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
            <td class="d-flex">
                <%= form_with(model: cart_item, url: cart_item_path(cart_item), method: :patch, local: true) do |form| %>
                  <%#= form.hidden_field :customer_id, :value => current_customer.id %>
                  <%#= form.hidden_field :item_id, :value => cart_item.item.id %>
                  <%= form.select :quantity, *[1..50],{}, class: "form-select" %>
                  <%= form.submit "更新", class: "btn btn-success" %>
                <% end %>
            </td>
            <td><%= cart_item.subtotal.to_s(:delimited) %></td>
            <td><%= link_to '削除', cart_item_path(cart_item), method: :delete, class: "btn btn-danger btn-sm" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= link_to '買い物を続ける', root_path, class: "btn btn-primary" %>
    <%= link_to '情報入力へ進む', new_order_path, class: "btn btn-success" %>
   </div>
  </div>
</div>
