<div class="container">
  <div class="row text-center order-new-title mt-5">
    <div class="col-md-2 bg-light">
      <h4>注文情報確認</h4>
    </div>
  </div>

  <div class="row mt-3">
     <div class="col-md-8">
      <table class="table table-inverse table-bordered border border-dark">
        <thead class="bg-light">
  　　    　　 <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
           </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
          <tr id="cart_item">
            <td class="align-middle"><%= image_tag cart_item.item.get_image(100, 100), class: "p-2" %> <%= cart_item.item.name %></td>
            <td class="align-middle"><%= cart_item.item.with_tax_price.to_s(:delimited) %></td>
            <td class="align-middle"><%= cart_item.quantity %></td>
            <td class="align-middle subtotal-area">
              <%= render 'public/cart_items/subtotal', cart_item: cart_item %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
     </div>
     <div class="col-md-2 index-amount">
      <table class="table table-inverse table-bordered border border-dark">
          <tbody>
            <tr>
              <th class="bg-light">送料</th>
              <td><%= @order.postage %></td>
            </tr>
            <tr>
              <th class="bg-light">商品合計</th>
              <td><%= render 'public/cart_items/total', total_amount: @total_amount %></td>
            </tr>
            <tr>
              <th class="bg-light">請求合計</th>
              <td><%= @order_total_amount.to_s(:delimited) %></td>
            </tr>
          </tbody>
       </table>
     </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-2">
      <h5><strong>支払方法</strong></h5>
    </div>
    <div class="col-md-8">
      <%= @order.payment_method_i18n %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-2">
      <h5><strong>お届け先</strong></h5>
    </div>
   <div class="col-md-8">
      <%= @address %><br>
      <%= @order.shipping_name %>
   </div>
  </div>

  <div class="row mt-5">
    <div class="col text-center">
      <%= form_with model: @order, url: orders_path, method: :post do |f| %>
       <%= f.hidden_field :shipping_name %>
       <%= f.hidden_field :shipping_post_code %>
       <%= f.hidden_field :shipping_address %>
       <%= f.submit '注文を確定する', class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>
