<div class="container">
  <div class="row text-center order-new-title mt-5">
    <div class="col-md-2 bg-light">
      <h4>注文情報入力</h4>
    </div>
  </div>

  <%= form_with model: @order, url: confirm_orders_path, method: :post do |f| %>
    <div class="row mt-4">
      <table>
        <tbody>
          <tr>
            <td>
             <h5><strong>支払方法</strong></h5>
             <div class="mb-3 px-3">
               <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
               <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:credit_card] %><br>
               <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
               <%= f.label :payment_method_credit_card, Order.payment_methods_i18n[:transfer] %>
             </div>
            </td>
          </tr>
          <tr>
            <td>
              <h5><strong>お届け先</strong></h5>
              <div class="mb-3 px-3">
                <%= f.radio_button :select_address, 0 %>
                <%= f.label :address_number_0, "ご自身の住所" %><br>
                <div class="px-4">
                  〒<%= current_customer.post_code %><%= current_customer.address %><br>
                  <%= current_customer.last_name %><%= current_customer.first_name %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="mb-3 px-3">
                <%= f.radio_button :select_address, 1 %>
                <%= f.label :address_number_1, "登録済み住所から選択" %><br>
                <div class="mt-1 px-4">
                  <%= f.select :address_id, options_from_collection_for_select(ShippingAddress.all, :id, :address_display) %>
                </div>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="mb-2 px-3">
                <%= f.radio_button :select_address, 2 %>
                <%= f.label :address_number_2, "新しいお届け先" %><br>
               <div class="form-group row mb-2 mt-2 px-4">
                 <div class="col-md-3">
                  <%= f.label :shipping_post_code, "郵便番号（ハイフンなし）" %>
                 </div>
                 <div class="col-md-4">
                   <%= f.text_field :shipping_post_code, placeholder: "0000000",required: true ,class: "form-control" %>
                 </div>
               </div>
               <div class="form-group row mb-2 px-4">
                 <div class="col-md-3">
                  <%= f.label :shipping_address, "住所" %>
                 </div>
                 <div class="col-md-4">
                   <%= f.text_field :shipping_address, placeholder: "東京都渋谷区代々木〇〇町",required: true ,class: "form-control" %>
                 </div>
               </div>
               <div class="form-group row px-4">
                 <div class="col-md-3">
                  <%= f.label :shipping_name, "宛名" %>
                 </div>
                 <div class="col-md-4">
                   <%= f.text_field :shipping_name, placeholder: "長野太郎",required: true ,class: "form-control" %>
                 </div>
               </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center mt-4">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
