<div class="container">
  <div class="row text-center order-new-title mt-5">
    <div class="col-md-2 bg-light">
      <h4>注文履歴詳細</h4>
    </div>
  </div>

  <div class="row mt-4">
     <div class="col-md-6">
      <h5><strong>注文情報</strong></h5>
      <table class="table table-hover table-inverse table-bordered", style="border-color: #3C2A21;">
        <tbody>
          <tr>
            <th class="bg-light">注文日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <th class="bg-light">配送先</th>
            <td class="align-middle">
              〒<%= @order.shipping_post_code %><br>
              <%= @order.shipping_address %><br>
              <%= @order.shipping_name %>
            </td>
          </tr>
          <tr>
            <th class="bg-light">支払方法</th>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <th class="bg-light">ステータス</th>
            <td><%= @order.status_i18n %></td>
          </tr>
        </tbody>
      </table>
     </div>
     <div class="col-md-3">
      <h5><strong>請求情報</strong></h5>
      <table class="table table-hover table-inverse table-bordered", style="border-color: #3C2A21;">
        <tbody>
          <tr>
            <th class="bg-light">商品合計</th>
            <td class="text-center"><%= number_with_delimiter(@order.billing_amount - @order.postage) %>円</td>
          </tr>
          <tr>
            <th class="bg-light">配送料</th>
            <td class="text-center"><%= @order.postage.to_s(:delimited) %>円</td>
          </tr>
          <tr>
            <th class="bg-light">ご請求額</th>
            <td class="text-center"><%= @order.billing_amount.to_s(:delimited) %>円</td>
          </tr>
        </tbody>
      </table>
     </div>
  </div>
  <div class="row">
    <div class="col-md-8">
     <h5><strong>注文内容</strong></h5>
     <table class="table table-hover table-inverse table-bordered", style="border-color: #3C2A21;">
        <thead class="bg-light">
           <tr align=center >
            <th>商品</th>
            <th>単価（税込）</th>
            <th>個数</th>
            <th>小計</th>
           </tr>
        </thead>
        <tbody>
          <% @order_items.each do |order_item| %>
            <tr>
              <td class="align-middle"><%= order_item.item.name %></td>
              <td class="align-middle text-center"><%= order_item.item.with_tax_price.to_s(:delimited) %>円</td>
              <td class="align-middle text-center"><%= order_item.quantity %></td>
              <td class="align-middle text-center"><%= order_item.price_including_tax.to_s(:delimited) %>円</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
