<nav class="navbar navbar-expand-lg text-center pt-0 pb-0">
   <div class="collapse navbar-collapse">
     <div class="row d-flex justify-content-around align-items-center col-md-6 ms-5">
      <% if customer_signed_in? %>
      <div class="navbar navbar-brand">
        <%= link_to root_path do %>
          <%= image_tag 'logo.jpg', alt: "ロゴ" %>
        <% end %>
        <h5 class="mb-0", style= "color: #E5E5CB;" >ようこそ、<%= current_customer.last_name %>さん</h5>
      </div>
    </div>
    <div class="row d-flex justify-content-around align-items-center col-md-6 ms-5">
       <% elsif admin_signed_in? %>
      <div class="navbar navbar-brand">
      <%= link_to root_path do %>
        <%= image_tag 'logo.jpg', alt: "ロゴ" %>
      <% end %>
      <h5 class="mb-0", style= "color: #E5E5CB;">管理者ログイン中</h5>
      </div>
    </div>
      <% else %>
      <div class="navbar navbar-brand">
      <%= link_to root_path do %>
        <%= image_tag 'logo.jpg', alt: "ロゴ" %>
      <% end %>
      <div></div>
    </div>
      <% end %>
     </div>

     <div class="col-md-6">
      <ul class="navbar-nav mx-auto justify-content-around">
        <% if customer_signed_in? %>
         <li class="nav-item">
           <%= link_to customers_mypage_path ,class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-user"></i>
           マイページ
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to items_path ,class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-cake-candles"></i>
           商品一覧
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to cart_items_path, class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-cart-shopping"></i>
           カート
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to destroy_customer_session_path, method: :delete, class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-right-from-bracket"></i>
           ログアウト
           <% end %>
         </li>
        <% elsif admin_signed_in? %>
         <li class="nav-item">
           <%= link_to admin_items_path ,class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-cake-candles"></i>
           商品一覧
           <% end %>
         <li class="nav-item">
           <%= link_to admin_customers_path ,class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-user-check"></i>
           会員一覧
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to admin_path ,class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-check"></i>
           注文履歴一覧
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to admin_genres_path, class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-gift"></i>
           ジャンル一覧
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to destroy_admin_session_path, method: :delete, class: "nav-link", style: "color: #E5E5CB;" do %>
         <i class="fa-solid fa-right-from-bracket"></i>
           ログアウト
           <% end %>
         </li>
       <% else %>
         <li class="nav-item">
           <%= link_to about_path, class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-heart"></i>
           About
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to items_path, class: "nav-link", style: "color: #E5E5CB;" do %>
         <i class="fa-solid fa-cake-candles"></i>
           商品一覧
           <% end %>
         <li class="nav-item">
           <%= link_to new_customer_registration_path, class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-user-plus"></i>
           新規登録
           <% end %>
         </li>
         <li class="nav-item">
           <%= link_to new_customer_session_path, class: "nav-link", style: "color: #E5E5CB;" do %>
           <i class="fa-solid fa-right-to-bracket"></i>
           ログイン
           <% end %>
         </li>
       <% end %>
       </ul>
       <div class="mt-2 me-5">
        <%= render 'layouts/search', q: @q %>
      </div>
      </div>

    </div>
</nav>