<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Shippori+Mincho&display=swap"  rel="stylesheet">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  </head>

  <body>

    <header>

      <%= render 'layouts/header' %>
    </header>

    <main>
      <div class="mt-3 text-center">
        <h5><%= flash[:notice] %></h5>

      </div>
        <% if content_for?(:disable_turbolinks) %>
          <%= yield :disable_turbolinks %>
        <% else %>
          <%= yield %>
        <% end %>

    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>

  </body>
</html>
